<h1 class="titleForm">Advertisements</h1>
<div id="ads" class="ads">
    <table>
        <tr>
            <th>Title</th>
            <th>Publisher</th>
            <th>Description</th>
            <th>Price</th>
            <th>Date Published</th>
            <th>Actions</th>
        </tr>
        {{#each adsArr}}
            <tr id="{{_id}}">
                <td>{{title}}</td>
                <td>{{publisher}}</td>
                <td>{{description}}</td>
                <td>{{price}}</td>
                <td>{{date}}</td>
                {{#if isAuthor}}
                <td>
                    <a href="#" id="btnDeleteAd">[Delete]</a>
                    <a href="#" id="btnEditAd">[Edit]</a>
                </td>
                {{/if}}
            </tr>
        {{/each}}
    </table>
</div>
