@model List<Blog.Models.Article>

@{
    ViewBag.Title = "List";
}

<div class="container">
    <div class="row">
        @foreach (var article in Model)
        {
            <div class="col-sm-6">
                <article>
                    <header>
                        <h2>
                            @Html.ActionLink(@article.Title, "Details", "Article", new { @id = article.Id }, null)
                        </h2>
                    </header>
                    <p>
                        @article.Content
                    </p>
                    <p>
                        Posted on:
                        @article.Date
                    </p>
                    <p>
                        Posted by:
                        @article.Author.FullName
                    </p>
                </article>
            </div>
        }
    </div>
</div>
<hr />
